<!-- Default home page -->
<section>
	<div class="centered">
	  	<span><%= process.env.HOSTNAME %></span>
	  	<hr><span>ENV: <%= process.env.NODE_ENV %></span>
	  	<hr><span>API VERSION: v<%= api.version %></span>
	</div>
</section>